[Unit]
Description=API Service
After=network.target
Wants=celery.service

[Service]
User=cargo
WorkingDirectory=/api
ExecStart=/usr/local/bin/gunicorn src.main:app --chdir /api --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind :8057

[Install]
WantedBy=multi-user.target