[Unit]
Description=Flower service for Celery tasks monitiring
After=celery.service

[Service]
User=cargo
WorkingDirectory=/api
ExecStart=/usr/local/bin/celery -A src.celery_app.main:celery flower --tasks-columns='name,received,started,state,result,runtime'

[Install]
WantedBy=multi-user.target
